# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
build/
dist/
.venv/
venv/
env/
.idea/
.vscode/
.codegraph/
.cursor/
*data/
/datasets/

# 训练产物
*weights/
*logs/

# 输出产物
*outputs/
